<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.pollub.pl.cardgameclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity android:name=".authorization.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="edu.pollub.pl.cardgameclient.menu.MenuActivity"/>
        <activity android:name=".authorization.registration.RegistrationActivity"/>
        <activity android:name=".authorization.changePassword.ChangePasswordActivity"/>
        <activity android:name=".authorization.changeLogin.ChangeNickActivity"/>
        <activity android:name=".game.organization.create.GameOrganizationActivity"/>
        <activity android:name=".game.organization.find.FindGameActivity"/>
        <activity android:name=".game.play.PlayGameActivity" android:screenOrientation="landscape"/>
    </application>

</manifest>